.ba-header
  display: flex
  flex-direction: column
  justify-content: center
  background: $header-blue
  border: none!important
  border-radius: 0px
  height: $header-height!important

  &--wrapper
    display: flex
    flex-direction: row

  &--title
    padding-left: 35px
    font-size: 35px
    color: white

  &--username
    font-weight: 200
    font-size: 35px
    color: white
    /* Center Item horizontally */
    position: absolute
    left: 50%
    transform: translateX(-50%)
