.row
    .input-group
      input.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1')
.row
    .col-xs-6
        button.btn(ng-click="$ctrl.setContactsType('guests')") Guests
    .col-xs-6
        button.btn(ng-click="$ctrl.setContactsType('team')") Team
.row
    ul.list-group
        li.list-group-item(ng-repeat='conversation in $ctrl.contactsToShow')
            x-list-item(data='conversation')
