.ba-messaging.hidden-xs.hidden-sm
  header.ba-header
    .ba-header--wrapper
      .ba-header--title Babelot
      .ba-header--username {{msgingCtrl.user.email}}
      .ba-header--add-contact
          button(ng-click="msgingCtrl.addContact()") +

  .ba-messaging--content
    .ba-sidebar-left.ba-bg-white
      x-list-panel(guests='msgingCtrl.guests' team='msgingCtrl.team')
    .ba-center-panel.ba-bg-white
      x-chat-panel
    .ba-sidebar-right
      x-sim-preview
      x-sim-search-panel

//- MESSAGE FOR USERS ON SMALL SCRENES
.visible-xs.visible-sm
  .device-not-supported
    p This website is only available on desktop devices
