.ba-messaging.hidden-xs.hidden-sm
  header.ba-header
    .ba-header--title Babelot

  .ba-messaging--content
    .ba-sidebar-left.ba-bg-white
      x-list-panel(guests='msgingCtrl.guests' team='msgingCtrl.team')
    .ba-center-panel.ba-bg-white
      x-chat-panel
    .ba-sidebar-right.ba-bg-white
      x-sim-preview
      x-sim-search-panel

//- MESSAGE FOR USERS ON SMALL SCRENES
.visible-xs.visible-sm
  .row.ba-not-available
    .col-xs-12
      .panel.panel-default
        .panel-body
          p This website is only available on desktop devices
