.sim-search-panel
  center
    input.b-searchbar(type="text" placeholder="search..." ng-model="simSearchPanelCtrl.simSearchTerms")
  .sim-item(ng-repeat='sim in simSearchPanelCtrl.sims')
      center
        img(ng-src="{{sim.img}}")
        p {{sim.name}}
